<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-primary">Home</a></li>
      <li class="nav-item"><a href="/products" class="nav-link px-2 text-primary">Vehicles</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-primary">About</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link px-2 text-primary">Contact</a></li>
    </ul>
    <p class="text-center text-primary">© 2025 Blue Line Car Rental</p>
  </footer>
</div>

</body>
</html>

