<%- include('../base', { body: `
    <h1>Contact</h1>
    <ul class="list-unstyled">
      <li><strong>Email:</strong> hello@blueline.example</li>
      <li><strong>Phone:</strong> (555) 013-3700</li>
      <li><strong>Address:</strong> 100 Campus Way, YourTown, USA</li>
    </ul>
  ` }) %>
  